{% extends "layout.html" %}
 {% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
 {% block content %}
 <div class="govuk-width-container">
   <main class="govuk-main-wrapper">
       <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <a href="detailspages-dataset-v4" class="govuk-back-link">Back</a>
          <br>
          <br>
          <h1 class="govuk-heading-xl">Accessing data with our API</h1>
        </div>
      </div>
       <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
        <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
          <h2 class="page-contents__title">Page contents:</h2>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="#p1" class="active">About the API</a></li>
              <li><a href="#p2">What you can access</a></li>
              <li><a href="#p3">How to get access</a></li>
              <li><a href="#p4">How licences work with API access</a></li>
              <li><a href="#p5">Generating an API key</a></li>
              <li><a href="#test">Full documentation</a></li>
          </ul>
        </div>
      </div>


      <div class="govuk-grid-column-two-thirds">

      <h2 name="p1" class="govuk-heading-l">About the API</h2>
      <p>What you can do with the API programmatically</p>
      <p>Developers can access the data catalogue with the metadata API, as an alternative to the using the web interface for this service. The API provides both RESTful and functional interfaces, all in JSON format, making it suitable for a wide range of clients.</p>
      <div class="govuk-inset-text">
        <p>The base URL for the API is: <a href="https://something.gov.uk/api">https://something.gov.uk/api</a>
      </div>
      <h2 name="p2" class="govuk-heading-l">What you can access</h2>
      <p>Not all of our datasets are available through our API access. Datasets that have [xxxx] licence attached cannot be accessed using the API.</p>
      <p>API access is however available for following datasets:</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="">INSPIRE Polygon Data</a>
        </li>
        <li>
          <a class="govuk-link" href="">Registered Leases Data</a>
        </li>
        <li>
          <a class="govuk-link" href="">Overseas Companies Ownership Data</a>
        </li>
      </ul>

      <h2 name="p3" class="govuk-heading-l">How to get access</h2>
      <p>You need to have an account to access datasets using the API. If you haven’t already created one, <a href="createaccount">you can do so by clicking here</a>.</p>

      <p>If you have an account, <a href="login">you need to sign-in</a> before you can generate an API key.</p>

      <h2 name="p4" class="govuk-heading-l">How licences work with API access</h2>
      <h2 name="p5" class="govuk-heading-l">Generating an API key</h2>
      <p>Once you have created an account and have signed-in, you can navigate to the API key generation screen.</p>

      <p>By agreeing to both the licence agreement and the terms of use, you can generate an API key.</p>


      <h2 name="p6" class="govuk-heading-l">Full documentation</h2>

      <p>The API is provided by the CKAN software and full instructions are provided here: <a href="http://docs.ckan.org/en/release-v2.2.3/api.html">http://docs.ckan.org/en/release-v2.2.3/api.html</a>.</p>

      </div>
     </div>

  </main>
</div>
 {% endblock %}
