{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="context" data-id="id-1"></div>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page"><a class="govuk-breadcrumbs__link" href="listingspage">Use land and property data</a></li>
  </ol>
</div>
<!--
<div class="state-1 toggle-states"><a href="#">View licence</a></div><div class="state-2 toggle-states"><ul><li>Point 1</li><li>Point 2</li><li>Point 3</li><li>Point 4</li><li>Point 5</li></ul><a href="#">Agree</a></div><div class="state-3 toggle-states"><a href="#" download>Dowload latest</a></div>
-->



<div class="grid-row">
  <div class="column-two-thirds listings-v7">
    <span class="govuk-caption-xl">HM Land Registry</span>
    <h1 class="gem-c-heading  gem-c-heading--mobile-top-margin govuk-heading-xl">Use land or property data</h1>
    <p>HM Land Registry offers large data files for download. There is no cost to use most of this data, however you may need to create an account and sign a licence agreement first.</p>
    <div class="dps-grid-tile first-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="detailspages-overseas-toc">Overseas companies that own property in England and Wales</a></h2>
        <p class="dataset-meta free">
          <span class="govuk-body govuk-!-font-weight-bold">FREE</span>
        </p>
        <p class="dataset-meta">
          <span class="govuk-body govuk-!-font-weight-bold">CSV, 1.25Gb</span>
        </p>
        <p class="dataset-meta free">
          <span class="govuk-body govuk-!-font-weight-bold">Register to download</span>
        </p>
        <p class="meta">Last updated on the <span class="govuk-body govuk-!-font-weight-bold">2 April 2019</span> (updated monthly)</p>
        <p class="flag"></p>
        <p class="govuk-body govuk-!-font-weight-bold">Download data about overseas companies that own land in England and Wales.</p>
        <p class="download-docs"><a class="download" href="/public/files/ocod-sample-data.csv" download>Download sample data - <span class="file-size">CSV,15Kb</span></a> | <a class="download" href="/public/files/licence_agreement.html" download>Download licence agreement - <span class="file-size">HTML, 16Kb</span></a></a></p>
      </div>
    </div>


    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="detailspages-uk-companies-toc">UK companies that own property in England and Wales</a></h2>
        <p class="dataset-meta free">
          <span class="govuk-body govuk-!-font-weight-bold">FREE</span>
        </p>
        <p class="dataset-meta">
          <span class="govuk-body govuk-!-font-weight-bold">CSV, 1.25Gb</span>
        </p>
        <p class="dataset-meta free">
          <span class="govuk-body govuk-!-font-weight-bold">Register to download</span>
        </p>
        <p class="meta">Last updated on the <span class="govuk-body govuk-!-font-weight-bold">2 April 2019</span> (updated monthly)</p>
        <p class="flag"></p>
        <p class="govuk-body govuk-!-font-weight-bold">Download data about UK companies that own land in England and Wales.</p>
        <p class="download-docs"><a class="download" href="/public/files/sample_data.csv" download>Download sample data - <span class="file-size">CSV, 15Kb</span></a>  |  <a class="download" href="/public/files/licence_agreement.html" download>Download licence agreement - <span class="file-size">HTML, 16Kb</span></a></a></p>
      </div>
    </div>


    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="detailspages-leases">Registered leases</a></h2>
        <p class="dataset-meta free">
          <span class="govuk-body govuk-!-font-weight-bold">FREE</span>
        </p>
        <p class="dataset-meta">
          <span class="govuk-body govuk-!-font-weight-bold">CSV, 1.25Gb</span>
        </p>
        <p class="dataset-meta free">
          <span class="govuk-body govuk-!-font-weight-bold">Register to download</span>
        </p>
        <p class="meta">Last updated on the <span class="govuk-body govuk-!-font-weight-bold">2 April 2019</span> (updated monthly)</p>
        <p class="flag"></p>
        <p class="govuk-body govuk-!-font-weight-bold">Download data about leasehold properties in England and Wales.</p>
        <p class="download-docs"><a class="download" href="/public/files/registered-leases-sample-data.csv" download>Download sample data - <span class="file-size">CSV,15Kb</span></a>  |  <a class="download" href="/public/files/licence_agreement.html" download>Download licence agreement - <span class="file-size">HTML, 16Kb</span></a></p>
      </div>
    </div>

    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="https://www.gov.uk/guidance/1862-act-register">HM Land Registry: 1862 Act Register</a></h2>
        <p class="govuk-body govuk-!-font-weight-bold">Download data about leasehold properties in England and Wales.</p>
      </div>
    </div>

    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="http://landregistry.data.gov.uk/app/ppd/">HM Land Registry: Price Paid Data</a></h2>
        <p class="govuk-body govuk-!-font-weight-bold">Price Paid Data contains the sale prices of properties in England and Wales submitted to HM Land Registry for registration.</p>
      </div>
    </div>

    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="https://data.gov.uk/dataset/7d866093-2af5-4076-896a-2d19ca2708bb/hm-land-registry-monthly-property-transaction-data">HM Land Registry: Transaction Data</a></h2>
        <p class="govuk-body govuk-!-font-weight-bold">Our Transaction Data includes information about the number and types of applications we have completed.</p>
      </div>
    </div>

    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="https://www.gov.uk/government/collections/uk-house-price-index-reports">UK House Price Index: reports</a></h2>
        <p class="govuk-body govuk-!-font-weight-bold">The UK House Price Index (HPI) uses house sales data from HM Land Registry, Registers of Scotland, and Land and Property Services Northern Ireland and is calculated by the Office for National Statistics.</p>
      </div>
    </div>


    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="https://www.gov.uk/guidance/inspire-index-polygons-spatial-data">Index Polygons spatial data</a></h2>
        <p class="govuk-body govuk-!-font-weight-bold">[CONTENT]</p>
      </div>
    </div>

    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
        <h2><a href="https://www.gov.uk/guidance/national-polygon-service">National Polygon Service</a></h2>
        <p class="dataset-meta">
          <span class="govuk-body govuk-!-font-weight-bold">Available for purchase</span>
        </p>
        <p class="govuk-body govuk-!-font-weight-bold">[CONTENT]</p>
      </div>
    </div>

    <div class="dps-grid-tile">
      <div class="attachment-thumb">
        <img src="https://www.gov.uk/government/assets/pub-cover-spreadsheet-471052e0d03e940bbc62528a05ac204a884b553e4943e63c8bffa6b8baef8967.png">
      </div>
      <div class="dataset-info">
      <h2><a href="https://www.gov.uk/government/publications/geospatial-commission-data-catalogue-hm-land-registry">Geospatial Commission Data Catalogue: HM Land Registry</a></h2>
        <p class="govuk-body govuk-!-font-weight-bold">[CONTENT]</p>
      </div>
    </div>

    <div class="miggins">
    <h2>Looking for information about one address? </h2>
    <p>You can <a href="https://www.gov.uk/search-property-information-land-registry">search by postcode</a> here.</p>
    </div>

</div>

<div class="base-bar">
  <div class="base-bar-inset">
    <a class="app-c-back-to-top dont-print" href="#top">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
          Back to top
    </a>
  </div>
</div>
</div>

{% endblock %}
