// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.row-data-item {
  padding:1em;

  .govuk-table__cell,
  .govuk-table__header {
    border:none;
  }
  .add-to-download {
    width: 4em;
    height: 4em;
    background: #00823B;
    color: #fff;
    text-align: center;
    padding: 0.7em;
    padding-top: 0.1em;
    float: right;
    font-family: 'nta';
    .plus-icon {
      margin-bottom: -50px;
      font-size: 62px;
      position: relative;
      top: -12px;
    }
  }
}
.row-data-item:nth-child(odd) {
  background: #F9F9F9;
}
.listingspage {
  .govuk-grid-column-one-third {
    button {
      margin-top:1em;
    }
  }
  .govuk-fieldset__legend {
    h3 {
      font-size: 27px;
      margin: 0px;
    }
    .spacer {
      width:100%;
      clear: both;
      margin-bottom:2px;
    }
  }
}
