// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";


.gem-c-govspeak .attachment .attachment-details .accessibility-warning p, .metadata {
  font-size: 14px;
  line-height: 1.4285714286;
}
.attachment-thumb {
  width:16%;
  float:left;
  img {
    display: block;
    width: 99px;
    height: 140px;
    background: #fff;
    outline: 5px solid rgba(11,12,12,0.1);
    -webkit-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    -moz-box-shadow: 0 2px 2px rgba(11,12,12,0.4);
    box-shadow: 0 2px 2px rgba(11,12,12,0.4)
  }
}
.context3-resize {
  height: 400px;
}
.listings-with-history {
  section {
    min-height: 500px !important;
  }
  .govuk-tabs__panel {
      border-left: none;
      border-right: none;
      border-bottom:none;
  }
}
// .modal {
//   width: 100%;
//   height: 100%;
//   margin: auto;
//   background: #fff;
//   position: absolute;
//   top: 0;
//   left: 0;
//   opacity: 1;
//
//   .modal-inset {
//     width: 80%;
//     height: 80%;
//     margin: auto;
//     background: #fff;
//     position: fixed;
//     top: 0;
//     left: 0;
//     opacity: 1;
//   }
// }
.listings2 section {
  min-height: 345px;
  border-bottom: 1px solid #bfc1c3;
  padding-top: 40px;
}
.attachment-details {
  width:75%;
  float:left;

  .disabled_btn {
    background: #9cc0a1;
  }
}

.download {
    background-color: #f8f8f8;
    padding: 14px 7px 14px 11px;
    margin-right:10px;

    span {
      background: url(/public/images/download-icon.png) no-repeat 4%;
      padding: 39px;
      background-size: 11%;
    }
}

.attachment-details {
  h2 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.1111111111;
    margin: 0;
    font-size: 27px;
    line-height: 1.1111111111;
  }
}
.govuk-tag {
  text-transform: lowercase;
  float:left;
}
.float_left {
  float:left;
}
.attachment-details p{
  clear:both;
}
.historical_files label {
  font-size: 0px;
}

.listingspage .listings-page-table .govuk-table {
  .center {
    text-align: center;
  }
  .listings-button {
    width:45%;
  }
  th, td {
    width:50%;
  }
  .historical-files {
    float: left;
  }
}
.transact-listings {
  .data-set {
    width:100%;
    padding: 2% 4%;
  }

  .box-title {
    float: left;
    clear: left;
    width: 25%;
    margin-bottom: 10px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
  }
  .box-content {
    //float: left;
    width: 75%;
  }

  .button-row {
    width:100;
    clear:both;
  }
  dl {
    font-size: 19px !important;
    line-height: 20px;
  }
  .odd.data-set {
    background-color: #f8f8f8;
  }
}

.view_design_tracker {
  padding-bottom:25px;
  padding-top: 25px;
  .design_tracker_link {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    padding: 20px;
    display: block;
    margin: 0;
    background-color: #005ea5;
    color: #fff;
    text-align: center;
  }
}
// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
li, h2, h3, h4 {
  font-family: "nta";
}
.gem-c-related-navigation {
    border-top: 2px solid #005ea5;
}
.row-data-item {
  padding:1em;

  .govuk-table__cell,
  .govuk-table__header {
    border:none;
  }
  .add-to-download {
    width: 4em;
    height: 4em;
    background: #00823B;
    color: #fff;
    text-align: center;
    padding: 0.7em;
    padding-top: 0.1em;
    float: right;
    font-family: "nta", Arial, sans-serif;
    border-bottom: 2px solid #003618;

    .plus-icon {
      margin-bottom: -50px;
      font-size: 62px;
      position: relative;
      top: -12px;
    }
  }
}

.add_bold p {
  font-weight: 700 !important;
}

span.licence-type {
    background: #EDEDED;
    padding: 2px 13px;
}
.row-data-item:nth-child(odd) {
  background: #F9F9F9;
}
.listingspage {
  .govuk-grid-column-one-third {
    button {
      margin-top:1em;
    }
  }
  .govuk-fieldset__legend {
    h3 {
      font-size: 27px;
      margin: 0px;
    }
    .spacer {
      width:100%;
      clear: both;
      margin-bottom:2px;
    }
  }
}

.fixed-view-downloads {
  position: fixed;
      width: 80%;
      height: 6em;
      bottom: 23px;
      left: 10%;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 1px;
      padding: 1em;
      border: #DEE0E2 14px solid;

    .govuk-form-group {
      width: 50%;
      float: left;

      .govuk-checkboxes__item {
        font-size: 19px;
        line-height: 25px;
        display: inline;
        float: left;
        clear: none;
      }
    }

    .inset-text {
      width: 40%;
      float: right;
      clear: none;
    }

    a {
      float:right;
    }
    .closethis {
      clear: both;
      margin-top: -24px;
    }
    span {
      font-weight: bold;
    }
}



//formatting tabs to show example snippets of Datasets
pre {
   background-color: #f8f8f8;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px;
   font-family: monospace;
   position: relative;
    margin: 0;
    padding: 15px;
    overflow: auto;
    border: 1px solid #bfc1c3;
    background-color: #f8f8f8;
    font-size: 16px;
    max-width: 38em;
    margin-bottom: 15px;
   }
.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
   }


//downloads page
.download-page {
  .govuk-tag-red {
    background: #DF3034;
    margin-left: 1em;
  }
  .govuk-details__summary-text {
    font-size: 24px;
    line-height: 30px;
  }
}
.govuk-grid-row {
    margin-right: 0px;
    margin-left: 0px;
}
.dashboard .govuk-grid-column-one-quarter:nth-child(odd) {
   background: #F9F9F9;
}

.float_right {
  float:right;
  margin-bottom: 2em;
  clear: both;
  width: 100%;
  text-align: right;
}
.app-navigation-1 {
  background-color: #f8f8f8;
  background-color: #f8f8f8;
  margin-top: -45px;
  margin-bottom: 10px;

  li {
    list-style: none;
    text-align: right;
    display: inline-flex;
    padding:1em;
    float: right;
  }
}

//cards
.dashboard-3 {
  .govuk-back-link {
    margin-bottom: 35px;
  }
  .govuk-section-break--visible {
      border-bottom: 1px solid #bfc1c3;
      width: 100%;
      clear: both;
  }
  .card {
      flex-grow: 0;
      flex-basis: 100%;
      margin-bottom: 2em;
      border: 1px solid #dee0e2;
      font-size: 16px;
      width:33%;
      background-color: #f8f8f8;
      float:left;

      .card-body.active {
          background-color: #f8f8f8;
          transition: .1s ease-in-out;
      }
      .card-body {
          border-bottom: 1px solid #dee0e2;
          padding: 12px;
      }
  }
  table.dash-3 {
      margin-bottom: 30px;
      width: 60%;
      float: right;
      clear: none;
  }
  .govuk-button {
      padding-top: 9px;
      padding-bottom: 6px;
      margin-left: 3em;
  }
  .card-button {
      margin-left:0;
  }

  .tile {
    background-color: #f8f8f8;
    border-left: 10px solid #dee0e2;
    padding:2em;
    float:left;
    display: inline-flex;
    width: 22%;
    margin-right:2em;
    margin-bottom: 3em;
    min-height: 144px;

    p, h2 {
      float: left;
      width: 100%;
    }
  }
  .tile:hover {
    background: #EEEFF0;
    cursor: pointer;
    h2 {
      text-decoration: underline;
    }
  }
}


// CUSTOM SASS

.change-answer{
  text-align: right;
  padding-right: unset;
}

.check-your-answers {
  list-style-type: none;
  margin: unset;
  padding-left: unset;
}

.no-padding {
  padding-left: unset;
}

.ogl-logo {
  vertical-align: unset;
  padding-left: 10px;
}

.data-vis{
  padding-left: unset;
.data-vis-element {
  background-color: #dee0e2;
  h2{
    margin-bottom: unset;
    padding-left: 20px;
    padding-top: 20px
  }
    p {
      padding-left: 20px;
      padding-bottom: 10px;
    }
  }
  button {
    margin-left: 20px;
  }
}

.govuk-phase-banner {
  max-width:960px;
  margin:auto;
}

.govuk-breadcrumbs {
  display: none !important;
}

.govuk-breadcrumbs {
  @extend .govuk-breadcrumbs;
  display: normal !important;
  #accept-licence-back-step-2 {
    border-bottom: 1px solid black;
  }
}

.index-table {
  width: 100%;
  border-collapse: collapse;
  th{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    vertical-align: text-top;
  }
  td {
    border: 1px solid black;
    padding: 10px;
    vertical-align: text-top;
  }
}

.api-flag {
  background: #EDEDED;
  padding: 14px;
}

.listings-list-style {
  ol {
    padding-left: 0px;
  }
  li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #bfc1c3;
    .left-alligned{
      text-align: left;
    }
    div {
      background-color:	#f8f8f8;
      padding: 10px;
      margin-bottom: 25px;
      span {
        font-weight: bold;
        margin-right: 50px;
        width: 60px;
      }
    }
  }
    th {
      border-bottom: none;
    }
    td {
      border-bottom: none;
    }
}

.new {
  margin-left: 5px;
  background-color: #85994b;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  font-size: 16px;
}

.listings-page-item {
  border-bottom: 1px solid #bfc1c3;
  .inline{
    padding-left: 0px;
    li{
      display: inline;
      list-style: none;
      padding-right: 15px;
      .new {
        margin-left: 5px;
        background-color: #85994b;
        color: white;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 5px;
      }
    }
  }
  .download-details {
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 25px;
    .left-alligned{
      text-align: left;
    }
  }
}

#step-1 {
  span {
    background-color: #bfc1c3;
  }
  dt {
  border-bottom: none !important;
  }
  dd {
    border-bottom: none !important;
  }
}

.index-info {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 25px;
}

.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}

.blue-box {
  background-color: #005ea5;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  h1, p, a, span {
    color: white;
  }
}


.highlight {
  width: 100%;
}

// Modal

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 50px;
  width: 50%; /* Could be more or less, depending on screen size */
}
