{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get land and property data from HM Land Registry</h1>

        <p>Use this service to download land ownership data for England and Wales. </p>

        <p class="govuk-inset-text">Looking for information about 1 address? <a href="https://eservices.landregistry.gov.uk/eservices/FindAProperty/view/QuickEnquiryInit.do">Try this service</a>.</p>

        <p>These data files are shared by HM Land Registry.</p><p>Most of the data is free and open (available to everyone) but <a href="#">a small number of data files have a licence fee</a>.</p>

        <p class="govuk-!-font-weight-bold">Each data file shows information:</p>
        <ul>
          <li><p>for every address in England and Wales</p></li>
          <li><p>in tabular (spreadsheet) or shapefile (shapes on a map) format</p></li>
        </ul>

        <a href="listingspage-context-1-flat" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
          Start now
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">Before you download a data set, you need to <a href="createaccount">create an account</a>.</p>
        <p class="govuk-body">If you already have an account, <a href="login-fromstart">sign in</a> now.</p>

        <br>

      </div>

    </div>
  </main>
</div>




{% endblock %}
