{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="context" data-id="id-1"></div>

<br>
<br>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-v2">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">View datasets</li>
  </ol>
</div>
<!--
<div class="state-1 toggle-states"><a href="#">View licence</a></div><div class="state-2 toggle-states"><ul><li>Point 1</li><li>Point 2</li><li>Point 3</li><li>Point 4</li><li>Point 5</li></ul><a href="#">Agree</a></div><div class="state-3 toggle-states"><a href="#" download>Dowload latest</a></div>
-->
<div id="myModal" class="modal" style="color: black;">

  <!-- Modal content -->
  <div class="modal-content">

    <h1 class="govuk-heading-xl" style="color: black;">
      Agree to the data licences
    </h1>


    <p style="color: black;">The file you are about to download includes data owned by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>HM Land Registry</li>
      <li>Ordnance Survey’s AddressBase Premium</li>
      <li>Royal Mail’s PAF® database (address data) </li>
   </ul>

   <h2 class="govuk-heading-l">How you can use this data</h2>

   <h3 class="govuk-heading-m">If you’re a business </h3>

   <p style="color: black;">You can use this data to: </p>
   <ul class="govuk-list govuk-list--bullet">
     <li>prevent and detect crime, including for:</li>
     <ul class="govuk-list govuk-list--bullet">
       <li>the apprehension or prosecution of alleged offenders</li>
       <li>proceedings in a court or tribunal</li>
       <li>complying with an order, a court or a tribunal</li>
   </ul>
     <li>keep records about land and properties</li>
  </ul>

  <h3 class="govuk-heading-m">If you’re a public body</h3>

  <p style="color: black;">You can use this data if you have a:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="">Public Sector Mapping Agreement Licence</a></li>
    <li><a href="">One Scotland Mapping Agreement Member Licence</a></li>
  </ul>

  <p style="color: black;">These licences are issued by Ordnance survey and public bodies must use the data under the terms of these licences.</p>

  <p><a href="">Apply for a licence from Ordnance Survey</a>.</p>

  <h2 class="govuk-heading-l">Not sure if you can use this data?</h2>

  <p style="color: black;">Contact Royal Mail before you use this data. Ask them to confirm that your intended use is permitted under the terms of their licence.</p>

  <p style="color: black;"><a href="">Email Royal Mail</a>.</p>

  <h3 class="govuk-heading-m">Read the full licences </h3>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="">HM Land Registry’s data</a></li>
    <li><a href="">Ordnance Survey’s AddressBase Premium licence</a></li>
    <li><a href="">Royal Mail’s PAF® database licence</a></li>
  </ul>

  <br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
            I understand and agree to these licences
          </label>
          </div>
        </div>
      </fieldset>
    </div>

    <a href="#" role="button" draggable="false" class="govuk-button disabled_btn">
      Agree and continue
    </a>
    <br>
    <a href="#" class="cancel-this">Cancel</a>

  </div>

</div>


<div class="grid-row">
  <div class="column-two-thirds listings-grid">

    <h1 class="gem-c-heading  gem-c-heading--mobile-top-margin govuk-heading-xl">Find data from HM land Registry</h1>

    <div class="dps-grid">
      <div class="statement-bar">
        <h2>Free and licenced datasets</h2>
        <a class="govuk-button" href="sign-in">Sign out</a>
      </div>
      <br />
      <p class="info">These datasets are <span class="govuk-!-font-weight-bold">free to use</span> but <span class="govuk-!-font-weight-bold">restrictions apply</span>. You need to <a href="">create an account</a> to download them. <a href="">Find out why</a>.</p>
      <div class="dps-grid-tile">
        <h3><a href="detailspages-overseas-signed-in">Overseas companies that own property in England and Wales</a></h3>
        <p>Download data about overseas companies that own land in England and Wales.</p>
        <div class="state-1">
          <a class="download-from-listings"><span>Get this data</span></a>
        </div>
      </div>

      <div class="dps-grid-tile">
        <h3><a href="detailspages-uk-signed-in">UK companies that own property in England and Wales</a></h3>
        <p>Download data about UK companies that own land in England and Wales.</p>
      </div>

      <div class="dps-grid-tile">
        <h3><a href="detailspages-leases-signed-in">Registered leases</a></h3>
        <p>Download data about leasehold properties in England and Wales.</p>
      </div>


    </div>
    <br />
    <br />
    <br />

    <div class="dps-grid">
      <div class="statement-bar">
        <h2>Free and open datasets</h2>
      </div>
      <br />
      <p class="info">Some of these dataset are hosted on data.gov.uk. These datasets are free to use. You do not need to create an account to download these datasets.</p>
      <div class="dps-grid-tile">
        <h3><a href="#">HM Land Registry: 1862 Act Register</a></h3>
        <p>Download data about overseas companies that own land in England and Wales.</p>
      </div>

      <div class="dps-grid-tile">
        <h3><a href="#">HM Land Registry: Price Paid Data</a></h3>
        <p>Download data about UK companies that own land in England and Wales.</p>
      </div>

      <div class="dps-grid-tile">
        <h3><a href="#">HM Land Registry: Transaction Data</a></h3>
        <p>Download data about leasehold properties in England and Wales.</p>
      </div>
      <div class="dps-grid-tile">
        <h3><a href="#">UK House Price Index: reports</a></h3>
        <p>Download data about leasehold properties in England and Wales.</p>
      </div>
      <div class="dps-grid-tile">
        <h3><a href="#">National Polygon Service</a></h3>
        <p>Download data about leasehold properties in England and Wales.</p>
      </div>
    </div>

</div>



<div class="column-one-third">

<div class="gem-c-contextual-sidebar">

    <!-- Rendering related navigation sidebar because no browse, no related links, no live taxons -->



</div>

</div>

</div>


</div>

{% endblock %}
