
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="1-create-account" class="govuk-back-link">Back</a>
      <br>
      <br>
      <h1 class="govuk-heading-xl">
        Before sending your application
      </h1>
      <p class="govuk-body">On the next page you will be asked to enter your credit/debit card information. HM Land Registry asks for your card details so we can check your identity.</p>
      <p>You will not be charged and no payment will be taken.</p>


        <a href="1-2-createaccount-address" role="button" class="govuk-button">
        Continue
      </a>
    </div>

</div>

{% endblock %}
