
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Leases Data</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Check your answers before downloading your dataset
        </h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
          </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__cell" scope="row">Dataset</th>
                <td class="govuk-table__cell ">[Name]</td>
                <td class="govuk-table__cell change-answer"></td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Download options</th>
                <td class="govuk-table__cell ">CSV file
                </br>
                JSON file
                </br>
                Open Governmen Licence
                </td>
                <td class="govuk-table__cell change-answer"><a href="">Change</a></td>
              </tr>
            </tbody>
        </table>

        <a href="download-confirmation" role="button" class="govuk-button">
          Download
        </a>

      </div>

  </main>
</div>


{% endblock %}
