
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Leases Data</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Check your answers before downloading your dataset
        </h1>

        <table class="govuk-table">

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Dataset name</th>
              <td class="govuk-table__cell ">[name]</td>
              <td></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">Download options selected</th>
              <td class="govuk-table__cell ">CSV</td>
              <td class="govuk-table__cell ">JSON</td>
              <td class="govuk-table__cell ">Open Government licence</td>
            </tr>
          </tbody>
        </table>

        <table class="check-your-answers">

          <thead>
            <tr>
              <th colspan="2">
                <h2 class="heading-medium">
                  Contacting you
                </h2>
              </th>
              <th>
              </th>
              <th>
              </th>
            </tr>
          </thead>

          <tbody>
            {% for reminder in data['reminder-how'] %}
            <tr>
              <td>
                {{ reminder }}
              </td>
              <td>
                {{data['text-number']}}
              </td>
              <td>
                {{data['email-address']}}
              </td>
              <td class="change-answer">
                <a href="#">
                  Change
                </a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

    <a href="" role="button" class="govuk-button">
      Download
    </a>

      </div>

  </main>
</div>


{% endblock %}
