
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Design system</h1>

        <h2>Notifications</h2>

        <h3>Warnings - small</h3>
        <ul><p>Useage</p>
          <li>Licence has changed - in listings</li>
        </ul>
        <div class="govuk-warning-text alert-small">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            There has been a change to this licence agreement.
          </strong>
        </div>
        <h3>Warnings - large</h3>
        <ul><p>Useage</p>
          <li>Licence has changed - in listings</li>
        </ul>
        <div class="govuk-warning-text alert-test">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            There has been an ammendment to a licence that you have agreed to. <a href="">Dismiss</a>
          </strong>
        </div>


        <h3>Confirmation</h3>
        <ul><p>Useage</p>
          <li>You are signed-in</li>
        </ul>

    </div>
  </div>

{% endblock %}
