
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="listingspage">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Your datasets</li>
  </ol>
</div>

  <main class="govuk-main-wrapper download-page">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your downloads</h1>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Daylist
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <span id="nationality-hint" class="govuk-hint">
    Select which filetype you would like to download this dataset as.
  </span>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
            JSON
          </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
            XML
          </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
            CSV
          </label>
          </div>
        </div>
      </fieldset>
    </div>
          </div>
        </details>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Overseas
            </span>
          </summary>
          <div class="govuk-details__text">
            <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <span id="nationality-hint" class="govuk-hint">
    Select which filetype you would like to download this dataset as.
  </span>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="british">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
            JSON
          </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
            XML
          </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
            CSV
          </label>
          </div>
        </div>
      </fieldset>
    </div>
          </div>
        </details>
        <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled">
          download datasets
        </button>
      </div>

      <div class="govuk-grid-column-one-third">
      </div>
    </div>

  </main>
</div>


{% endblock %}
