
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index2">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Leases Data</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<form>
        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Your download options
      </h1>
    </legend>
    <!-- <span id="nationality-hint" class="govuk-hint">
    If you have dual nationality, select all options that are relevant to you.
  </span> -->
    <div class="govuk-checkboxes download-file-page">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-1" name="format" type="checkbox" value="csv">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-1">
        CSV
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-2" name="format" type="checkbox" value="json">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
        JSON
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="format" type="checkbox" value="xml">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
        XML
      </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="licence-1" name="licence" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="licence-1">
        Open Government Licence agreement
      </label>
      </div>
    </div>

  </fieldset>

</div>

    <a href="check-your-answers" role="button" class="govuk-button" id="sendformat">
      Continue
    </a>
</form>
      </div>

  </main>
</div>


{% endblock %}
