
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Digital Publishing Service
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>


      <h2 class="govuk-heading-l">Prototypes</h2>
      <ul>
        <li><a href="index2">Sprint 1</a></li>
        <li><a href="createaccount">Create account</a></li>
      </ul>
    </div>
</div>

{% endblock %}
