
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
    Digital Publishing Service
    </h1>
    <div class="govuk-grid-column-two-thirds">
      <p>[Statement: what the service is and how to use it]</p>
      <p>[Prompt: log-in or create account]</p>
      <a href="listingspage2" class="govuk-button govuk-button--start">Search datasets</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="gem-c-related-navigation">
        <h2 id="related-nav-related_items-1c7bbe48" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">

        </h2>
      </div>
      <p class="govuk-body">
    </p>
    </div>
</div>




{% endblock %}
