
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Digital Publishing Service
      </h1>
        <a href="listingspage2" class="govuk-button govuk-button--start">Search datasets</a>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">One-third column</h3>
      <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
    </div>
</div>




{% endblock %}
