
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Search</li>
  </ol>
</div>
  <div class="govuk-grid-row listingspage">
      <h1 class="govuk-heading-xl">
        Find datasets
      </h1>
      <h2 class="govuk-heading-l">Datasets available for download</h2>

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds no-padding">

            <div class="row-data-item">

                <h2><a href="#">Dataset Title</a></h2>
                <p>The dataset comprises a list of all titles owned by companies incorporated in the UK and English and Welsh corporate bodies.</p>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Licence</th>
                      <td class="govuk-table__cell"><span class="licence-type">Free Commercial</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Last updated</th>
                      <td class="govuk-table__cell ">11 April 2017</td>
                    </tr>

                  </tbody>
                  </table>


            </div>

            <div class="row-data-item">

                <h2><a href="detailspages-dataset-v2">Registered Leases Data</a></h2>
                <p>The dataset comprises a list of all titles owned by companies incorporated in the UK and English and Welsh corporate bodies.</p>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Licence</th>
                      <td class="govuk-table__cell"><span class="licence-type">Free Commercial</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Last updated</th>
                      <td class="govuk-table__cell ">11 April 2017</td>
                    </tr>

                  </tbody>
                  </table>

            </div>

            <div class="row-data-item">

                <h2><a href="detailspages-dataset-OGL ">Dataset name</a></h2>
                <p>The dataset comprises a list of all titles owned by companies incorporated in the UK and English and Welsh corporate bodies</p>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Licence</th>
                      <td class="govuk-table__cell"><span class="licence-type">Open Government licence</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Last updated</th>
                      <td class="govuk-table__cell ">11 April 2017</td>
                    </tr>
                  </tbody>
                  </table>

            </div>

            <div class="row-data-item">
                <h2><a href="#">Overseas</a></h2>
                <p>The dataset comprises a list of all titles owned by companies incorporated in the UK and English and Welsh corporate bodies.</p>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Licence</th>
                      <td class="govuk-table__cell"><span class="licence-type">Free Commercial</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="row">Last updated</th>
                      <td class="govuk-table__cell ">11 April 2017</td>
                    </tr>
                  </tbody>
                  </table>
            </div>


        </div>
      </div>

</div>

{% endblock %}
