
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<script type="text/javascript">
mixpanel.track("End page");
</script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Land Reg Prototype
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services for land reg.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <button class="accordion">Section 1</button>
      <div class="panel">
        <p>Lorem ipsum...</p>
      </div>

      <div class="govuk-inset-text">
        It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
      </div>

      <div class="govuk-panel govuk-panel--confirmation">
  <h2 class="govuk-panel__title">
    Application complete
  </h2>
  <div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div>
</div>


<details class="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Help with nationality
</span>
</summary>
<div class="govuk-details__text">
We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
</div>
</details><details class="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Help with nationality
</span>
</summary>
<div class="govuk-details__text">
  <div class="govuk-form-group govuk-form-group--error">
    <fieldset class="govuk-fieldset" aria-describedby="dob-hint dob-error" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          What is your date of birth?
        </h1>
      </legend>
      <span id="dob-hint" class="govuk-hint">
      For example, 31 3 1980
    </span>
      <span id="dob-error" class="govuk-error-message">
      Date of birth must be in the past
    </span>
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item govuk-date-input__item--day">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
            Day
          </label>
            <input class="govuk-input govuk-date-input__input" id="dob-day" name="dob-day" type="number" value="6" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item govuk-date-input__item--month">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
            <input class="govuk-input govuk-date-input__input" id="dob-month" name="dob-month" type="number" value="3" pattern="[0-9]*">
          </div>
        </div>
        <div class="govuk-date-input__item govuk-date-input__item--year">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
            <input class="govuk-input govuk-date-input__input" id="dob-year" name="dob-year" type="number" value="2076" pattern="[0-9]*">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  {% from "input/macro.njk" import govukInput %}

  {{ govukInput({
    label: {
      text: "Full name"
    },
    id: "full-name",
    name: "full-name"
  }) }}</div>
</details>
<div class="govuk-tabs govuk-!-margin-bottom-6" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-day">
          Past day
        </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
          Past week
        </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
          Past month
        </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-year">
          Past year
        </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Past day</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Case manager</th>
          <th class="govuk-table__header" scope="col">Cases opened</th>
          <th class="govuk-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell ">3</td>
          <td class="govuk-table__cell ">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell ">1</td>
          <td class="govuk-table__cell ">0</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell ">2</td>
          <td class="govuk-table__cell ">0</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel" id="past-week">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Case manager</th>
          <th class="govuk-table__header" scope="col">Cases opened</th>
          <th class="govuk-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell ">24</td>
          <td class="govuk-table__cell ">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell ">16</td>
          <td class="govuk-table__cell ">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell ">24</td>
          <td class="govuk-table__cell ">27</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel" id="past-month">
    <h2 class="govuk-heading-l">Past month</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Case manager</th>
          <th class="govuk-table__header" scope="col">Cases opened</th>
          <th class="govuk-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell ">98</td>
          <td class="govuk-table__cell ">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell ">122</td>
          <td class="govuk-table__cell ">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell ">126</td>
          <td class="govuk-table__cell ">142</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="govuk-tabs__panel" id="past-year">
    <h2 class="govuk-heading-l">Past year</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Case manager</th>
          <th class="govuk-table__header" scope="col">Cases opened</th>
          <th class="govuk-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell ">1380</td>
          <td class="govuk-table__cell ">1472</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell ">1129</td>
          <td class="govuk-table__cell ">1083</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell ">1539</td>
          <td class="govuk-table__cell ">1265</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>
      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
