
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="start">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="listingspage-v2">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Registered Leases Data</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper">
    <div class="column-third">

      <div class="govuk-grid-column-one-third">
        <div class="page-contents js-page-contents js-stick-at-top-when-scrolling js-sticky-resize" style="width: 300px;">
          <h2 class="page-contents__title">Page contents:</h2>
          <ul class="page-contents__list">
              <li><a href="#how-point-1-improves-your-service" class="active">How point 1 improves your service</a></li>
              <li><a href="#how-youll-be-assessed" class="">How you'll be assessed</a></li>
              <li><a href="#related-guides">Related guides</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Registered Leases Data</h1>
        <p>The Registered Leases dataset comprises a number of data elements relating to leasehold entries on HM Land Registry’s register. </p>

        <div class="grid-row" data-module="highlight-active-section-heading">


  <div class="column-two-thirds">

    <div class="govspeak-wrapper">

<div class="gem-c-govspeak govuk-govspeak ">
      <p>You must understand user needs to meet point 1 of the <a href="/service-manual/digital-by-default#criterion-1">Digital Service Standard</a>.</p>

<p>You’ll have to explain how you’ve done this at your <a href="/service-manual/service-assessments/how-service-assessments-work">service assessments</a>.</p>

<h2 id="how-point-1-improves-your-service">How point 1 improves your service</h2>

<p>You need to understand the needs of your users so that you can build a service that:</p>

<ul>
  <li>helps users do the thing they want to do at the first attempt without having to understand government</li>
  <li>is built on your users’ real needs, not your assumptions</li>
</ul>

<h2 id="how-youll-be-assessed">How you’ll be assessed</h2>

<p>Your service assessment and the questions the assessors ask you will vary depending on your service and what it does.</p>

<h3 id="in-the-alpha-assessment">In the alpha assessment</h3>

<p>To pass the alpha assessment, you usually need to show:</p>

<ul>
  <li>the user needs you’ve found for your service in discovery and how you found those needs, including any needs for assisted digital users</li>
  <li>how you’ve been <a href="/service-manual/agile-delivery/writing-user-stories">writing user stories</a> for your service - including for users who need assisted digital support</li>
  <li>research that identifies parts of the task which users find difficult - you’ll have to explain how you’ve changed the service to make these parts of the task easier for users and how you tested and researched to confirm this</li>
  <li>any problems that you found in research which you’ll have to overcome to design the service</li>
</ul>

<h3 id="in-the-beta-assessment">In the beta assessment</h3>

<p>To pass the beta assessment, you usually need to:</p>

<ul>
  <li>talk about the private beta, including how many users you tested with, how you recruited them, how you used analytics in your research, and what you learned that you didn’t find in alpha</li>
  <li>explain who your users are and what you’ve done to understand their needs, including users who need assisted digital support</li>
  <li>explain any changes to user needs you’ve identified as a result of researching with users</li>
  <li>discuss the users of your service whose needs are most difficult to meet, and how you’ve been learning about those needs</li>
  <li>talk about the design challenges your users’ needs pose for your service</li>
  <li>talk about the research you’ve done in private beta, ie who you did research with, where and when - this should include research with users who need assisted digital support</li>
  <li>give examples of user stories, personas or profiles for your service - ie identify people who need to use the service and what they use it for, including users who need assisted digital support</li>
</ul>

<p>You also need to:</p>

<ul>
  <li>discuss research that identifies parts of the task which users find difficult - you’ll have to explain how you’ve changed the service to make these parts of the task easier for users and how you tested and researched to confirm this</li>
  <li>discuss any problems that you found in research which you’ll have to overcome to design the service</li>
  <li>explain the research you did to understand whether your support model meets user needs and how that research informed iteration and testing</li>
  <li>show how the design of the service has changed over time because of what you found in user research</li>
</ul>

<h3 id="in-the-live-assessment">In the live assessment</h3>

<p>To pass the live assessment, you usually need to:</p>

<ul>
  <li>show research that identifies parts of the task which users find difficult - you’ll have to explain how you’ve changed the service to make these parts of the task easier for users and how you tested and researched to confirm this</li>
  <li>talk about the research you did in public beta and how you’ll use the results to continuously improve your service, ie who you did research with, how often, when and where - include users who need assisted digital support</li>
  <li>give examples of user stories for your service - ie identify someone who needs to use the service and what they use it for - include assisted digital users</li>
  <li>show the user needs you’ve found for your service, including for users who need assisted digital support</li>
</ul>

<h3 id="explain-your-services-evolution">Explain your service’s evolution</h3>

<p>At each phase, you should explain how your service has evolved since its last assessment.</p>

<h2 id="related-guides">Related guides</h2>

<p>Read these guides to help you understand user needs:</p>

<ul>
  <li><a href="/service-manual/user-research/start-by-learning-user-needs">Start by learning user needs</a></li>
  <li><a href="/service-manual/user-research/how-user-research-improves-service-design">Improve service design with user research</a></li>
</ul>

<p>Find out more about:</p>

<ul>
  <li><a href="/service-manual/user-research">user research</a></li>
  <li><a href="/service-manual/service-assessments">service assessments</a></li>
  <li><a href="/service-manual/helping-people-to-use-your-service/assisted-digital-support-introduction">assisted digital support</a></li>
</ul>

</div>

    </div>

    <div class="change-history" data-module="toggle">
      <div class="change-history__latest-change">
        <dl>
          <dt>Last update:</dt>
          <dd>
            <time datetime="2016-06-29T14:56:48+00:00" class="timestamp">29 June 2016</time>
<p class="change-history__summary">
  Guidance first published
</p>

          </dd>
        </dl>
      </div>
    </div>

  </div>
</div>

        <!-- <div class="govuk-inset-text">
          <p><span class="govuk-body govuk-!-font-weight-bold">Please note:</span> you must log in to download this dataset.</p>
            <a href="login" role="button" class="govuk-button">
              Login
            </a>
        </div> -->

          <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h2 class="govuk-heading-l">Important information</h2>
          <h2 class="govuk-heading-l">About this dataset</h2>
          <dl class="app-check-your-answers app-check-your-answers--short">

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Licence
              </dt>
              <dd class="app-check-your-answers__answer">
                	Free Commercial.
                <br>
                 <a href="#">View licence agreement.</a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Technical specification
              </dt>
              <dd class="app-check-your-answers__answer">
                <a href="#">View technical specification</a>
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Last update
              </dt>
              <dd class="app-check-your-answers__answer">
                11 October 2016
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Next update
              </dt>
              <dd class="app-check-your-answers__answer">
                11 October 2017
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
              Version
              </dt>
              <dd class="app-check-your-answers__answer">
                1.2.1
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                File size
              </dt>
              <dd class="app-check-your-answers__answer">
                5.5 Gb
              </dd>
            </div>

            <div class="app-check-your-answers__contents">
              <dt class="app-check-your-answers__question">
                Rows in dataset
              </dt>
              <dd class="app-check-your-answers__answer">
                Approximately 5 and a half million
              </dd>
            </div>

          </dl>

          <br>
          <br>

          <h2 class="govuk-heading-l">How to download</h2>


          <h2 class="govuk-heading-l">What does the data look like</h2>

          <div class="govuk-tabs govuk-!-margin-bottom-6" data-module="tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>

          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#JSON">
                JSON
                </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#XML">
                  XML
                </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#CSV">
                  CSV
                </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="JSON">
            <h2 class="govuk-heading-l">JSON</h2>
            <pre><code id=account></code></pre>
          </section>

          <section class="govuk-tabs__panel" id="XML">
            <h2 class="govuk-heading-l">XML</h2>

          </section>
          <section class="govuk-tabs__panel" id="CSV">
            <h2 class="govuk-heading-l">CSV</h2>
          </section>
        </div> -->

      </div>

    </div>
  </main>
</div>


{% endblock %}
